@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<hgroup class="title">
    <h1 class="error">Błąd.</h1>
    <h2 class="error">Podczas przetwarzania Twojego żądania wystąpił błąd.</h2>
</hgroup>
