/*
 * jQuery rvnGallery v2.3
 
 * Copyright 2013, Krukowski Bartłomiej
 * http://rvn-gallery.krukowski.me
 * Date: 2013.03.25

 This program is free software; you can redistribute it and/or
 modify it under the terms of the GNU General Public License
 as published by the Free Software Foundation; either version 2
 of the License, or (at your option) any later version.

 This program is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with this program; if not, write to the Free Software
 Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
 */
 
.rvnGallery {
	position: relative;
	display: block;
	background: url(loader.gif) center no-repeat #fff;
	overflow: hidden;
	padding: 0;
	margin: 0;
}

.rvnGallery img, .rvnGallery a, .rvnGallery li {
	position: absolute;
	visibility: hidden;
}

.rvnGallery li p {
	display: none;
}

.rvnGallery .rvnSlice {
	position: absolute;
	overflow: hidden;
	background-repeat: no-repeat;
	width: 0;
	height: 0;
}

.rvnGallery .rvnVerticalLayout {
	position: absolute;
	top: 0;
}

.rvnGallery .rvnHorizontalLayout {
	position: absolute;
	left: 0;
}

.rvnGallery .rvnAllAreaLayout {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

.rvnGallery .rvnBoxLayout {
	position: absolute;
}

.rvnGallery .rvnImg{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-position: center;
	background-repeat: no-repeat;
}

.rvnGallery .btnPrev {
	position: absolute;
	left: 10px;
	width: 32px;
	height: 32px;
	background-image: url('arrows.png');
	_background-image: url('arrows.gif');
	cursor: pointer;
	visibility: hidden;
	z-index: 100;
}

.rvnGallery .btnNext {
	position: absolute;
	right: 10px;
	width: 32px;
	height: 32px;
	background-image: url('arrows.png');
	_background-image: url('arrows.gif');
	background-position: right;
	cursor: pointer;
	visibility: hidden;
	z-index: 100;
}

.rvnGallery .rvnCaption {
	width: 100%;
	bottom: 0;
	left: 0;
	background: #000;
	color: #fff;
	position: absolute;
	padding: 5px;
	z-index: 100;
}

.rvnCaption a {
	position: static;
	display: inline;
	visibility: visible;
}

li.rvnVisibleLink {
	visibility: visible;
	display: block;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;
}

li.rvnVisibleLink a {
	display: block;
	width: 100%;
	height: 100%;
	visibility: visible;
}