@{
    ViewBag.Title = "Kontakt";
    ViewBag.Message = "Skontaktuj się z nami:";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Kontakt główny</h3>
    </header>
    <p>
         <span class="label">tel.: 425.555.0100</span>
    </p>
    <p>
         <span class="label">mail:</span>
         <span><a href="mailto:contact@fatflat.com">contact@fatflat.com</a></span>
    </p>
    <p>
        <span class="label">Po godzinach:</span>
        <span><a href="mailto:contact@fatflat.com">contact@fatflat.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Dział pomocy:</span>
        <span><a href="mailto:Support@fatflat.com">Support@fatflat.com</a></span>
    </p>
    <p>
        <span class="label">Dział marketingu:</span>
        <span><a href="mailto:Marketing@fatflat.com">Marketing@fatflat.com</a></span>
    </p>
    <p>
        <span class="label">Pozostałe:</span>
        <span><a href="mailto:General@fatflat.com">General@fatflat.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Osiedle Piastów <br />
        ul. Popielidów 30/24 <br />
        Kraków, 52-626
    </p>
</section>